<div class="well">
  <%= form_for @comment, url: article_comments_path(@article.id) do |form| %>
    <%= hidden_field_tag 'userid', current_user.id %>
    <div class="form-group">
      <%= form.label :comment %><br>
      <%= form.text_area :comment, class:'form-control' %>
    </div>
      <%= form.submit class:'btn btn-default' %>
  <% end %>
</div>


