<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% flash.each do |type, msg| %>
      <div class="container flash-container">
        <%= content_tag :div, msg, class:"alert alert-#{type}" %>
      </div>
    <% end %>
    <%= yield %>
    <footer class="footer">
      <div class="container footer-box">
        <p class="text-muted text-center"><i class="fa fa-copyright"></i>&nbsp;iarunpaul&nbsp;<i class="fa fa-file-code-o"></i>&nbsp;Ruby On Rails&nbsp;&nbsp;<i class="fa fa-github"></i> github &nbsp;<i class="fa fa-amazon"></i>
        cloud9 <i class="fa fa-scissors" aria-hidden="true"></i>Mercury</p>
      </div>
    </footer>

  </body>

</html>
